doctype html
html(lang="en")
    head
        meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
        title Title
        link(href="css/libs.css", rel="stylesheet")
        link(href="css/style.css", rel="stylesheet")
    body
        div.content Content
        ul
            li 11
            li 22
            li 33
            li 44
    script(src="scripts/libs.js")
    script(src='scripts/app.js')



