header
    border 1px solid lightgray
    border-radius 5px
    margin 10px
    background-color snow

.content
    border 1px solid lightgray
    border-radius 5px
    padding 10px
    background-color snow
    
.users-update
    border 1px solid lightgray
    border-radius 5px
    background-color white
    margin 10px 0 10px 0

.users-list
    margin 10px 0 10px 0

.delete-button
    padding 30px
    
.required
    font-weight normal
    font-style italic
    font-size 0.9em

.user-details
    display none
    